<mat-grid-list id="client-panel" [cols]="breakpoint" [rowHeight]="ratio" (window:resize)="onResize($event)">
    <mat-grid-tile *ngxPermissionsOnly="['AUTH_USER']">
        <div class="mat-container left-card top-card">
        <mat-card routerLink="orders" app-material-elevation [default-elevation]="defaultElevation" raised-elevation="raisedElevation">
            <mat-card-header>
                <div class="header">
                    <mat-icon>list_alt</mat-icon>
                    <mat-card-title>{{ 'sidenav.list_alt' | translate }}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="description">
                    {{ 'client.orders' | translate }}
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngxPermissionsOnly="['AUTH_USER']">
        <div class="mat-container right-card top-card">
        <mat-card routerLink="order/planning" app-material-elevation [default-elevation]="defaultElevation" raised-elevation="raisedElevation">
            <mat-card-header>
                <div class="header">
                    <mat-icon>book_online</mat-icon>
                    <mat-card-title>{{ 'sidenav.book_online' | translate }}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="description">
                    {{ 'client.booking' | translate }}
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngxPermissionsOnly="['AUTH_USER']">
        <div class="mat-container left-card bottom-card">
        <mat-card routerLink="scheduler" app-material-elevation [default-elevation]="defaultElevation" raised-elevation="raisedElevation">
            <mat-card-header>
                <div class="header">
                    <mat-icon>calendar_today</mat-icon>
                    <mat-card-title>{{ 'sidenav.calendar_today' | translate }}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="description">
                    {{ 'client.scheduler' | translate }}
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngxPermissionsOnly="['AUTH_USER']">
        <div class="mat-container right-card bottom-card">
        <mat-card class="right-card bottom-card" routerLink="user/details" 
        app-material-elevation [default-elevation]="defaultElevation" raised-elevation="raisedElevation">
            <mat-card-header>
                <div class="header">
                    <mat-icon>account_circle</mat-icon>
                    <mat-card-title>{{ 'sidenav.account_circle' | translate }}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="description">
                    {{ 'client.settings' | translate }}
                </p>
            </mat-card-content>
        </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>