<div id="dialog">
    <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <div id="modal-top">
        <h2 class="mat-h2">{{ 'bookings.modify' | translate }}</h2>
        <button id="close" mat-icon-button (click)="closeDialog()">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </div>

    <div id="content">
        <form (ngSubmit)="modifyBooking()">
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'table.name' | translate }}</mat-label>
                <input matInput [formControl]="nameControl" name="name" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <input matInput [formControl]="descriptionControl" name="description">
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label> {{ 'address.city' | translate }} </mat-label>
                <input matInput [formControl]="cityControl" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label> {{ 'address.street' | translate }} </mat-label>
                <input matInput [formControl]="streetControl" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label> {{ 'address.buildingNumber' | translate }} </mat-label>
                <input matInput [formControl]="buildingNumberControl" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label> {{ 'address.apartmentNumber' | translate }} </mat-label>
                <input matInput [formControl]="apartmentNumberControl">
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label> {{ 'address.postalCode' | translate }} </mat-label>
                <input matInput [formControl]="postalCodeControl" required>
            </mat-form-field>

            <mat-form-field *ngxPermissionsOnly="['A_CRUD_SUPER', 'A_CRUD_BOOKINGS']" class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'bookings.user' | translate }}</mat-label>
                <mat-select [formControl]="userControl" [(ngModel)]="selectedUser"
                     [compareWith]="compareFn">
                    <mat-option *ngFor="let user of users" [value]="user">{{user.name}} {{user.surname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width-input">
                <mat-label>{{ 'bookings.start' | translate }}</mat-label>
                <input matInput [formControl]="startDateControl" [matDatepicker]="picker1" required
                    (dateInput)="updateEndDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{ 'bookings.end' | translate }}</mat-label>
                <input matInput [formControl]="endDateControl" [matDatepicker]="picker2" required
                    (dateChange)="updateStartDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

            <div class="button-wrapper">
                <button id="add" mat-flat-button type="submit" color="accent">{{ 'dialog.modify' | translate}}</button>
            </div>
        </form>
    </div>
</div>