<div id="dialog">
    <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <div id="modal-top">
        <h2 class="mat-h2">{{ 'roles.modify' | translate }}</h2>
        <button id="close" mat-icon-button (click)="closeDialog()">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </div>

    <div id="content">
        <form (ngSubmit)="modifyRole()" *ngIf="isReady">
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'table.name' | translate }}</mat-label>
                <input matInput [formControl]="nameControl" name="name" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'roles.description' | translate }}</mat-label>
                <input matInput [formControl]="descriptionControl" name="description" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'roles.permissions' | translate }}</mat-label>
                <mat-select [formControl]="permissionsControl" [(ngModel)]="selectedPermissions" [ngModelOptions]="{standalone: true}" multiple [compareWith]="compareFn">
                    <mat-option *ngFor="let permission of permissions" [value]="permission">{{ 'permissions.' + permission.name | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="button-wrapper">
                <button id="add" mat-flat-button type="submit" color="accent">{{ 'dialog.modify' | translate}}</button>
            </div>
        </form>
    </div>
</div>