<div id="password-container">
    <mat-card id="password">
        <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <mat-card-content>
            <mat-card-title id="password-title"> {{ 'password.title' | translate }} </mat-card-title>
            <div id="mat-form-container">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label> {{ 'registration.email' | translate }} </mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <form [formGroup]="passwordForm" id="password-form">
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label> {{ 'registration.password-1st' | translate }} </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="passwordForm.hasError('required', 'password')">
                            {{ 'registration.enter-password' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="accent">
                        <mat-label> {{ 'registration.password-2nd' | translate }} </mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword"
                            [errorStateMatcher]="matcher">
                        <mat-error *ngIf="passwordForm.hasError('notSame')">
                            {{ 'registration.password-not-match' | translate }}
                        </mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
                <button mat-raised-button color="accent" id="password-button"
                    [disabled]="passwordForm.invalid && email.invalid" (click)="changePassword()">
                    {{ 'password.button' | translate }} </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>