.spinner-wrapper {
        position: absolute !important;
        width: 100% !important;
        height: 80% !important;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
#header{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;

    #modify{
        margin-right: 2%;
        margin-left: auto;

        #icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }

    #delete{
        margin-right: 0%;

        #icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 1%;

        ::ng-deep .mat-card {
            border-color: white !important;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            padding-bottom: 0 !important;
    }

    .content-card{
        margin-bottom: 5%;
        margin-top: 1%;
        padding-top: 0 !important;
        background-color: #e9f0f3;

        .card-title{
            display: flex;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-bottom: 0;
            justify-content: center;
        }

        #gallery{
            object-fit: contain;
        }
    }

    #content-header{
        display: flex;
        flex-direction: row;

    #add-mediaContent{
        margin-right: 0%;
        margin-left: auto;

        #icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
    }
}


.update-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .margin-top-0 {
        margin-top: 0 !important;
    }

    ::ng-deep .mat-card {
        border-color: white !important;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        padding: 0 !important;           
    }    

    .update-card, .width-card {
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 0 !important;
        background-color: #e9f0f3;

        .field{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .card-title{
            display: flex;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-bottom: 0;
            justify-content: center;
        }
        
        .mat-form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 8%;
            padding-right: 8%;
    
            ::ng-deep .mat-form-field{
                width: 100%;
                margin-top: 2%;
            }
    
            ::ng-deep .mat-form-field-outline-start, 
            ::ng-deep.mat-form-field-outline-gap,
            ::ng-deep.mat-form-field-outline-end{
                background-color: white;
            }
        }
    
        .update-button{
            background-color:  #0e2636;
            color: white;
            margin-top: 2%;
            margin-bottom: 3%;
            width: 100%;
            height: 3rem;
        }

        .verify-button{
            background-color:  #0e2636;
            color: white;
            margin-top: 4%;
            margin-bottom: 2%;
            width: 60%;
            height: 3rem;
        }
    }
}

#content{
    background-color: white;
    padding: 2%;
    padding-top: 0;
}

.comment-item{
    @media only screen and (max-width: 700px) {
        margin-bottom: 40%;
        padding-top: 40%;
    }
    @media only screen and (max-width: 1000px) and (min-width: 700px) {
        margin-bottom: 7%;
        padding-top: 7%;
    }
    @media only screen and (min-width: 1000px) {
        margin-bottom: 2%;
        padding-top: 2%;
    }
}

.title{
    @media only screen and (max-width: 700px) {
        width: 60%;
        margin-left: 1%;
    }
    @media only screen and (max-width: 1000px) and (min-width: 700px) {
        width: 60%;
        margin-left: 10%;
    }
    @media only screen and (min-width: 1000px) {
        width: 45%;
        margin-left: 20%;
    }
}

.title-comment{
    ::ng-deep .mat-chip {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
      }
    @media only screen and (max-width: 700px) {
        margin-left: 0%;
        margin-right: 2%;
    }
    @media only screen and (max-width: 1000px) and (min-width: 700px) {
        width: 15%;
        margin-left: 1%;
        margin-right: 2%;
    }
    @media only screen and (min-width: 1000px) {
        width: 20%;
        margin-left: 1%;
        margin-right: 2%;
    }
}

#header,  .update-card {
    @media only screen and (max-width: 700px) {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
  }

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  }

  @media only screen and (min-width: 1000px) {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}

.content-card {
    @media only screen and (max-width: 700px) {
        margin-left: 3%;
        margin-right: 3%;
        width: 90%;
   }

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    margin-left: 6%;
    margin-right: 6%;
    width: 85%;
  }

  @media only screen and (min-width: 1000px) {
    margin-left: 8%;
    margin-right: 8%;
    width: 80%;
  }
}

#content-header, .width-card {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
}

#header{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;

    #modify{
        margin-right: 2%;
        margin-left: auto;

        #icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }

    #delete{
        margin-right: 0%;

        #icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }
}

.update-container {
    display: flex;
    justify-content: center;
    align-items: center;

    ::ng-deep .mat-card {
        border-color: white !important;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        padding: 0 !important;           
    }

    .margin-top-0 {
        margin-top: 0 !important;
    }

    .update-card {
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 0 !important;
        background-color: #e9f0f3;

        .field{
            display: flex;
            flex-direction: row;
            justify-content: center;

            #icon{
                margin-right: 1%;
            }
        }

        .card-title{
            display: flex;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-bottom: 0;
            justify-content: center;
        }
    }
}

.content{
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;

    #delete-comment{
        margin-right: 0%;
        margin-left: auto;

        #icon {
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }
}

.title{
    @media only screen and (max-width: 700px) {
        width: 60%;
        margin-left: 2%;
    }
    @media only screen and (max-width: 1000px) and (min-width: 700px) {
        width: 60%;
        margin-left: 10%;
    }
    @media only screen and (min-width: 1000px) {
        width: 45%;
        margin-left: 20%;
    }
}

#header,  .update-card {
    @media only screen and (max-width: 700px) {
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
  }

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  @media only screen and (min-width: 1000px) {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

#table-header{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: row;

    #download-mediaContent{
        margin-right: 0%;
        margin-left: auto;

        #icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }
}

#mediaContent-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;

    #table-wrapper {
      width: 85%;

      table{
        width: 100%;

        td{
            width: calc(100% /2.4) !important;
            padding-right: 1%;
          }
      }

      mat-paginator {
        width: 100%;
      }
    }
}

