<div id="dialog">
    <div *ngIf="isSpinnerDisplayed" class="spinner-wrapper">
        <mat-spinner color="accent"></mat-spinner>
    </div>
    <div id="modal-top">
        <h2 class="mat-h2">{{ 'indicators.add' | translate }}</h2>
        <button id="close" mat-icon-button (click)="closeDialog()">
            <mat-icon class="material-icons">close</mat-icon>
        </button>
    </div>

    <div id="content">
        <form (ngSubmit)="addIndicator()">
            <mat-form-field class="input-with-toggle" appearance="outline" color="accent">
                <mat-label>{{ 'table.name' | translate }}</mat-label>
                    <input matInput [formControl]="nameControl" name="name" required>
            </mat-form-field>
            <mat-form-field class="input-with-toggle" appearance="outline" color="accent">
                <mat-label>{{ 'indicators.description' | translate }}</mat-label>
                    <input matInput [formControl]="descriptionControl" name="description" required>          
            </mat-form-field>
            <mat-slide-toggle color="primary" (change)="changeLocaleCondition()"> {{ 'table.locale-add' | translate }}
        </mat-slide-toggle>

        <mat-form-field class="full-width-input" *ngIf="isLocaleEnabled" appearance="outline" color="accent">
            <mat-label>{{ 'table.name-second' | translate }}</mat-label>
                <input matInput [formControl]="nameSecondControl" name="nameSecond" required>
        </mat-form-field>
        <mat-form-field class="full-width-input" *ngIf="isLocaleEnabled" appearance="outline" color="accent">
            <mat-label>{{ 'indicators.description-second' | translate }}</mat-label>
                <input matInput [formControl]="descriptionSecondControl" name="descriptionSecond" required>          
        </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'indicators.baseAmount' | translate }}</mat-label>
                    <input matInput [formControl]="amountControl" name="baseAmount" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" appearance="outline" color="accent">
                <mat-label>{{ 'indicators.doublePrice' | translate }}</mat-label>
                <input matInput [formControl]="doublePriceControl" name="doublePrice" required>
            </mat-form-field>

            <div class="button-wrapper">
                <button id="add" mat-flat-button type="submit" color="accent">{{ 'dialog.add' | translate}}</button>
            </div>
        </form>
    </div>
</div>