#dialog{
    display: block;

    .spinner-wrapper {
        position: absolute !important;
        z-index: 3;
        height: 50%;
        width: 42% !important;
        padding: 0!important;
        background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
      
        button {
          margin-left: 8px;
          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
      
      #modal-top {
        display: flex;
        .mat-h2 {
          justify-content: left;
        }
        #close {
          justify-content: right;
          margin-right: 0;
          margin-left: auto;
        }
      }
      
      #content {
        .full-width-input {
          margin-top: 0;
          display: block;
          widows: 70% !important;
          &:nth-child(1) {
            margin-top: 0;
          }
        }

        .input-with-toggle {
            width: 70% !important;
          }
        
          .mat-slide-toggle {
            margin-left: 2% !important;
          }        
      }
  }
  
  
  